

services:
  backend:
    build: ./backend
    container_name: taskmanager-backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    restart: always

  frontend:
    build: ./frontend
    container_name: taskmanager-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: always
